<div class="main" id="main">
  <div class="container" id="volunteer-recruit">
    <div class="volunteer-head">
      <ul class="row text-center">
        <li class="col-md-4 active"><a class="btn btn-lightblue btn-block" href="<%= volunteers_recruit_path %>">志愿者招募</a></li>
        <li class="col-md-4"><a class="btn btn-lightblue btn-block" href="<%= volunteers_path %>">志愿者认证</a></li>
        <li class="col-md-4"><a class="btn btn-lightblue btn-block" href="">积分查询</a></li>
      </ul>
    </div>
    <div class="volunteer-content">

    </div>
  </div>
</div>
