<h1 class="page-header">
  新增<%= t('activerecord.models.position') %>
  <small class="pull-right">
    <a href="<%= admin_positions_path %>" class="btn btn-default" title="<%= t('activerecord.models.position') %>列表">
      <i class="icon-list icon-only"></i></a>
  </small>
</h1>

<%= render 'form' %>