<!DOCTYPE html>
<html>
<head lang="en">
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  <!--<title></title>-->
</head>
<body>
<h1>您好！</h1>


<p>您添加邮箱的验证码为<span style="color: darkred;font-size: 20px"><%= @code %></span>，10分钟内有效，请尽快验证</p>

</body>
</html>