<div id="main" class="main" data-src="<%= image_path('homepage/bk.png') %>">
  <div class="container">
    <div class="row">
      <div id="download">
        <div class="download" data-src="<%= image_path('homepage/download-bk.png') %>">
          <div class="download-inner">
            <div class="select-front">
              <div class="download-item" data-src="<%= image_path('homepage/download-item-bk.png') %>">
                <div class="sec-t">
                  比赛年份
                </div>
                <div class="sec-c">
                  <div class="select-robodou">
                    2016
                    <i class="glyphicon glyphicon-triangle-top"></i>
                    <i class="glyphicon glyphicon-triangle-bottom"></i>
                    <div class="select-option">
                      <div class="">

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="download-item" data-src="<%= image_path('homepage/download-item-bk.png') %>">
                <div class="sec-t">
                  比赛项目
                </div>
                <div class="sec-c">
                  <div class="select-robodou">
                    2016
                    <i class="glyphicon glyphicon-triangle-top"></i>
                    <i class="glyphicon glyphicon-triangle-bottom"></i>
                    <div class="select-option">
                      <div class="">

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="download-item" data-src="../asset/images/homepage/download-item-bk.png">
                <div class="sec-t">
                  下载项目
                </div>
                <div class="sec-c">
                  <div class="select-robodou">
                    2016
                    <i class="glyphicon glyphicon-triangle-top"></i>
                    <i class="glyphicon glyphicon-triangle-bottom"></i>
                    <div class="select-option">
                      <div class="">

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="select-end">
              <div class="download-item" data-src="../asset/images/homepage/download-item-bk.png">
                <div class="sec-t">
                  区县
                </div>
                <div class="sec-c">
                  <div class="select-robodou">
                    2016
                    <i class="glyphicon glyphicon-triangle-top"></i>
                    <i class="glyphicon glyphicon-triangle-bottom"></i>
                    <div class="select-option">
                      <div class="">

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="download-item" data-src="../asset/images/homepage/download-item-bk.png">
                <div class="sec-t">
                  学校
                </div>
                <div class="sec-c">
                  <div class="select-robodou">
                    2016
                    <i class="glyphicon glyphicon-triangle-top"></i>
                    <i class="glyphicon glyphicon-triangle-bottom"></i>
                    <div class="select-option">
                      <div class="">

                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>
