<div id="main" class="main">
  <div class="container">
    <div class="row">
      <div class="sec-t" data-src="">
        <%= @competition.name %>报名
      </div>
      <div class="sec-c">
        <div class="event-panel">
          <div>项目名称</div>
          <div class="" data-src="<%= image_path('homepage/select-bk.png') %>">
            <div class="">
              <select>
                <option>请选择项目</option>
                <% @events.each do |e| %>
                    <option value="<%= e.id %>"><%= e.name %></option>
                <% end %>

              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>