<div class="main" id="main" data-src="<%= image_path('pagebk.jpg') %>">
  <div class="container" id="event-list">
    <div class="top">
      项目列表
    </div>
    <div class="middle">
      <% @events.each do |e| %>
          <div class="event-item">
            <% if e.end_apply_time > Time.now %>
                <%= link_to "#{apply_event_competitions_path}?ed=#{e.id}", class: '' do %>
                    <div class="item-box">
                      <img src="" alt=""/>

                      <div class="item-title"><%= e.name %></div>
                    </div>
                <% end %>
            <% end %>
          </div>
      <% end %>
    </div>
    <div class="bottom">
      <nav>
        <%= paginate @events %>
      </nav>
    </div>
  </div>
</div>
