<div class="container">
  <h1 class="page-header"><%= @competition.name %> 详细信息页面</h1>
  <% @events.each do |ev| %>
      <p>
        <%= ev.name %>
        <%= link_to "#{apply_event_competitions_path}?eid=#{ev.id}", class: 'btn btn-xs btn-primary' do %>
            去报名
        <% end %>
      </p>
  <% end %>

</div>