<div id="main" class="main" data-src="<%= image_path('homepage/bk.png') %>">
  <div class="container">
    <div class="row">
      <h1 style="font-size:36px; padding-bottom: 15px;color: #88D5EC;text-align: center; margin-top: 180px; background: no-repeat transparent center bottom;" data-src="<%= image_path('homepage/info-t-bk.png') %>">程序员正在加班中！</h1>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>
