<h1 class="page-header">
  项目

  <small class="pull-right">
    <a href="<%= admin_volunteers_path %>" title="显示<%= t('activerecord.models.volunteer') %>" class="btn btn-default">
      志愿者列表</a>
  </small>
</h1>