<h1 class="page-header">
  项目

  <small class="pull-right">
    <a href="<%= admin_event_volunteers_path %>" title="创建<%= t('activerecord.models.volunteer') %>招募" class="btn btn-default">
      创建招募</a>
    <a href="<%= admin_volunteers_path %>" title="显示<%= t('activerecord.models.volunteer') %>" class="btn btn-default">
      志愿者列表</a>
  </small>
</h1>