<h1 class="page-header">
  志愿者
  <small class="pull-right">
    <a href="<%= events_admin_volunteers_path %>" title="志愿者<%= t('activerecord.models.volunteer') %>" class="btn btn-info">
      项目列表
    </a>
    <a href="<%= regulation_admin_volunteers_path %>" title="志愿者<%= t('activerecord.models.volunteer') %>" class="btn btn-info">
      章程
    </a>
  </small>
</h1>