<div class="list-group" style="margin-top: 40px;">

  <a class="list-group-item" href="<%= user_preview_path %>">我的账户<span class="visible-xs pull-right">[ <%= current_user.nickname %>
    ]</span></a>
  <a class="list-group-item" href="<%= "#" %>">我的收藏</a>
  <a class="list-group-item" href="<%= "#" %>">我的比赛</a>
</div>