<div class="list-group" style="margin-top: 40px;">

  <a class="list-group-item" href="<%= user_preview_path %>">个人信息<span class="visible-xs pull-right">[ <%= current_user.nickname %>
    ]</span></a>
  <a class="list-group-item" href="<%= user_notification_path %>">消息通知</a>
  <a class="list-group-item" href="<%= user_apply_path %>">报名信息</a>


</div>