<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3 hidden-xs">
      <%= render 'user/menu' %>
    </div>
    <div class="col-xs-12 col-sm-9">
      <h1 class="page-header">
        我的账户
      </h1>

      <%= render 'user/tab' %>

      <div class="panel panel-default">
        <div class="panel-body">
          <%= simple_form_for(@current_email, html: {}, url: user_email_path, method: :post) do |f| %>
              <div class="row">
                <div class="col-xs-9">

                  <div class="input-group">
                    <input id="email" class="email-value string email required form-control" placeholder="请输入邮箱" type="email" name="[email]">
                    <span class="input-group-addon btn btn-default user-add-email" id="basic-addon2">发送验证码</span>
                  </div>
                  <br>

                  <div class="form-inputs">
                    <input id="email_code" class="string email required form-control" placeholder="请输入邮箱收到的验证码" type="text" name="[email_code]">
                  </div>
                  <br>

                  <div class="form-actions">
                    <%= f.submit class: 'btn btn-primary', value: '添加邮箱' %>
                  </div>
                </div>
              </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>