<div id="main" class="main" data-src="<%= image_path('pagebk.png') %>">
  <div class="container">
    <div class="row">
      <div class="user-center">
        <div class="main-title">
          个人中心
        </div>
        <%= render 'user/menu' %>
        <div class="user-main">
          <%= render 'user/tab' %>
          <div class="sub-content">
            <% if @notification.present? %>
                <% unless @notification.read %>
                    <% @notification.update_attributes(read: 1) %>
                <% end %>
                <% if @notification.message_type == 0 %>
                    <%= @notification.content %>
                <% end %>
            <% else %>
                <div class="alert alert-info">
                  <p> 不是您的消息,无法查看</p>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>


