<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3 hidden-xs">
      <%= render 'user/menu' %>
    </div>
    <div class="col-xs-12 col-sm-9">
      <h1 class="page-header">
        我的消息
      </h1>
      <% if @notification.present? %>
          <% unless @notification.read %>
              <% @notification.update_attributes(read: 1) %>
          <% end %>
          <%= @notification.content %>
          <% if @notification.team_id.present? %>
              <button>接受邀请</button>
          <% end %>
      <% else %>
          <div class="alert alert-info">
            <p> 不是您的消息,无法查看</p>
          </div>
      <% end %>
    </div>
  </div>
</div>