<div id="main" class="main" data-src="<%= image_path('pagebk.jpg') %>">
  <div class="container">
    <div class="row">
      <div class="user-center">
        <div class="main-title">
          个人中心
        </div>
        <%= render 'user/menu' %>
        <div class="user-main">
          <%= render 'user/tab' %>
          <div class="sub-content">
            <select>
              <option>在线</option>
              <option>外聘</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
