<% if current_user %>
    <li>
      <a href="<%= user_preview_path %>">我的账户<span class="visible-xs pull-right">[ <%= current_user.nickname %> ]</span></a>
    </li>

    <li class="divider hidden-xs"></li>
    <li>
      <%= link_to destroy_user_session_path, method: :delete, data: {confirm: '确认退出登录吗?'}, title: '退出登录', class: '' do %>
          退出登录
      <% end %>
    </li>
<% end %>